body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}
.App {
  text-align: center;
}

.login-page,
.game-page {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button,
.game-button,
.form-button {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.login-button:hover,
.game-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}


.game {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

h2 {
  color: #007BFF;
}

.logout {
  margin-top: 20px;
}

h3 {
  margin: 0;
  color:#FFC300;
}

.logout-button {
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

.guess-form {
  margin-top: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  color:#FFC300;
}

.form-input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.form-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.form-button:hover {
  background-color: #218838;
}

.alert {
  color: red;
  margin-top: 10px;
}
