.main__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: 350px;
    height: 450px;
    margin: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    /* flex: 0 0 calc(33.33% - 40px);
  margin-bottom: 20px; */
  }
  
  .card__title {
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333;

  }
  
  .card__pic {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .remove-item, .add-item {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .quantity {
    font-size: 20px;
    margin: 10px;
  }
  h1, h3 {
    text-align: center;
    margin-top: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
  }
  
  h4 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .total-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }