.footer {
    background-color: #ddb769;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    bottom: 0;
    width: 98%;
    flex: 0 0 auto;
    margin-top: -100px;
    /* margin-top: auto; */
    position: fixed;
    grid-row-start: 3;
    grid-row-end: 4;
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__list li {
    display: inline-block;
    margin-right: 1rem;
}

.footer__list li:last-child {
    margin-right: 0;
}

.footer__list a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer__list a:hover {
    color: #ccc;
}

.footer__work {
    margin-right: auto;
}

.footer__contact,
.footer__policy {
    margin-left: auto;
}